

.product-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  width: 24%;
  margin: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item img {
  max-width: 100%;
}

.product-item .product-text {
  padding: 10px;
}
